# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter / Dart
.dart_tool/
/.pub/
.pub-cache/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json

# Android
android/.gradle/
android/local.properties
android/app/*.keystore

# Generated/packaging
app.*.symbols
app.*.map.json

# Misc project files not to commit
secrets.json
.env
*.keystore

# Ignore Markdown files (conforme solicitado)
*.md

# Other
/.flutter-plugins
/.flutter-plugins-dependencies
/.flutter-versions

